selenium
crawl4ai 
html2text
python-docx
streamlit
webdriver-manager

chromium
chromium-chromedriver
libglib2.0-0
libnss3
libgconf-2-4
libfontconfig1

git+https://github.com/Vu0401/zswarm.git
